.landingWrapper {
  height: 90vh;
  width: 80vw;
  background-image: url("https://images.pexels.com/photos/1659437/pexels-photo-1659437.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  margin-left: 140px;
  border-radius: 10px;
  margin-top: 55px;
  
}

.landingWrapper h1 {
  color: #ffffff;
  padding: 30px;
  font-size: 45px;
}
.landingWrapper h2 {
  color: #14a800;
  padding: 30px;
}
.landingWrapper p {
  color: #fff;
  padding-left: 30px;
  font-size: 20px;
  font-weight: bold;
}

.cardWrap {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.card {
 
  margin-bottom: 70px;
  margin-right: 150px;
  height: 110px;
  width: 280px;
  background-color: #14a800;
  color: white;
  font-size: 30px;
  font-weight: 650;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 0px;
  transition: transform .4s;
}
.card:hover {
  background-color: rgb(179, 228, 169);
  color: #14a800;
  transform: scale(1.05);
}

.card h6 {
  font-size: 16px;
}
